.form{
    margin:1rem 0;
}
.form__label{
    border-radius:6px;
    margin-right:10px;
    color:orange;
    padding:6px 16px;
}
.button__search{
    background:white;
    outline:none;
    color: #f16821;;
    border-radius:4px;
    border:738598 1px solid;
    padding:6px 16px;
}
.button__search:focus{
    outline:none;
}